<% include layout/header.ejs %>

  <section class="article-page">
      <div class="user-info">
        <div class="user-image">
          <img src="<%= user.img ? 'images/' + user.img : 'images/programmist.svg' %>">
          <br>
          <% if(user.id == authUser) { %>
            <button id="show-add-img">Изменить фото</button>
          <% } %>
        </div>
        <div>
          <h1><%= `${user.firstName} ${user.lastName}` %></h1>
          <div class="creator">
            <small><br><%= user.email %></small>
            <% if(user.id == authUser) { %>
              <br>
              <a href="/api/auth/logout">Выход</a>
            <% } %>
          </div>
        </div>
      </div>
      <div hidden id='add-img-form'>
        <form id="fileinfo" method="POST" enctype="multipart/form-data">
          <div class="img-added"></div>
          <input type="hidden" id="user-id" name="postId" value="<%=
           typeof authUser !== 'undefined' ? authUser : ''  %>">
           <label id="file-label" for="file" class="custom-file-upload">
             <input type="file" name="file" id="file" required> Выберите картинку
           </label>
        </form>
      </div>
      <br>
      <h1 id="user-articles">Статьи пользователя <%=`${user.firstName} ${user.lastName}`%></h1>
  </section>
  <section class="main container">
    <div id="grey-line"></div>
    <% for (let i = 0; i < posts.length; i++) { %>
      <section class="article">
        <div class="article-main-image">
          <img src="<%= posts[i].img ? 'images/' + posts[i].img : 'images/no-image.png' %>">
        </div>
        <div class="article-text">
          <h3>
            <a href="<%= '/posts/' + posts[i].url %>"><%= posts[i].title %></a>
            <% if(authUser === user.id) { %>
              <a style="color: #FF6E52; font-size: 18px;" href="/post/edit/<%= posts[i].id %>">🖉</a>
            <% } %>
          </h3>
          <div class="creator">
            <img class="teacher" src="<%= posts[i].owner.img ? 'images/' + posts[i].owner.img : 'images/programmist.svg' %>">
            <a href="<%= `/users/${user.url}` %>"><span class="name"><%= `${user.firstName} ${user.lastName}` %></span></a>
            <small><br><%= posts[i].createdAt.toString().slice(0, 24) %></small>
          </div>
          <p><%= posts[i].description %></p>
        </div>
      </section>
    <%}%>

    <div class="pagination">
      <% if (current > 1) { %>
        <a class="new" href="/users/<%= user.url %>/<%= Number(current) - 1 %>">◀ К новым</a>
      <% } %>
      <% if (pages > 0 && current < pages) { %>
        <a class="old" href="/users/<%= user.url %>/<%= Number(current) + 1 %>">К старым ▶</a>
      <% } %>
    </div>
  </section>

  <script type="text/javascript" src="<%= assetFingerprint('javascripts/userAvatar.js') %>"></script>

<% include layout/footer.ejs %>
